body { 
  background-color: #f2f2f2;
   background-image: url(images/triangles-pattern.webp);
 font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           20px;
}

header { text-align: center;

font-size:        large;


}

h1, h2 {
 color: #0000cc;
}

h3 {
	color:#3366ff;
}

h4 {
	color:#0099ff
}
#main {
	font-size: 110%

}

 #sidebar {
  height: 250vh;
width: 250px;
text-align: center;
position: absolute;
top: 0;
right: 0;
padding-top: 40px;
background-color: lightblue;
 }
 
 #sidebar {
 line-height: 1;
}

address{
font-style: normal;
 line-height: 1.3;
}


a:link{
color: #3399ff;
text-decoration: underline;
}
a:visited{
color:#006699;
text-decoration: underline;
}
a:hover{
color: #000099;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1.7%;
}